#logoFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logoFooter h1{
    display: inline;
}

#footerInfos {
    width: 1440px;
    height: 368px;
    margin: 0 auto;
    background: #EAF2FD;
}

#footerInfosContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 64px;
    width: 1136px;
    height: 240px;
    margin: 0 auto;   
}

.footerLinksLink {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    margin-bottom: 24px;
    text-decoration: none;
    cursor: pointer;
}

.footerLinksLink a {
    text-decoration: none;
    color: #464646;
}

#footerForm {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: top;
}

form h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
}

#campoNome {
    width: 560px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 8px;
    display: block;
    border: 0px;
    box-shadow: 0px 2px 1px 0px #C8C8C8;
}

textarea {
    width: 560px;
    height: 82px;
    background: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 8px;
    display: block;
    border: 0px;
    box-shadow: 0px 2px 1px 0px #C8C8C8;
    resize: none;
}

form label {
    display: flex;
    height: 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A2A2A2;
    position: relative;
    top: .8em;
    left: 1em;
}

#botaoMensagem {
    padding: 16px;
    width: 165px;
    height: 51px;
    background: #2A7AE4;
    margin: 8px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border-style: none;
    display: block;

}


#dev {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #464646;
    margin: 0 auto;
    padding: 32px;
    width: 1440px;
    background: #FFFFFF;
}
